*,html,body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Sans-Serif;
}

header {
    text-align: center;
    margin: 1em;
    font-size: small;
}

.chips {
    text-align: center;
}

.chip {
    display: inline-block;
    margin: 5px;
    border: 1px black solid;
    border-radius: 5px;
    min-width: 9em;
}

.chip-level {
    border-bottom: solid black 1px;
    padding: 3px;
    text-align: center;
    margin-bottom: 0.5em;
}

.chip-level-1 {
    background-color: #bbbdf6;
    color: black;
}

.chip-level-2 {
    background-color: #a8aee2;
    color: white;
}

.chip-level-3 {
    background-color: #9797ce;
    color: white;
}

.chip-level-4 {
    background-color: #8384B9;
    color: white;
}

.chip-player {
    min-height: 1.3em;
    text-align: center;
}

.chip-status {
    margin-top: 0.5em;
    border-top: solid black 1px;
    padding: 3px;
    text-align: center;
}

.chip-status-unplundered {
    background-color: #72727E;
    color: white;
}

.chip-status-plundered {
    background-color: #625F63;
    color: white;
}

.player {
    border: solid 1px black;
    display: inline-block;
    margin: 10px;
    border-radius: 3px;
}

.player-current {
    border-width: 3px;
}

.player-name {
    border-right: solid 1px black;
    float: left;
    padding: 5px;
}

.player-items {
    min-width: 5em;
    float: left;
    padding: 5px;
}